table {
    border-collapse: collapse;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
    border-radius: 2px;
    padding: 2px;
    width: 100%;
}
table, th, td {
    border: 1px;
    text-align: left;
}
tr:nth-child(even){
    background-color: white;
    color: black;
}
td{
    background-color: white;
    color: black;
    font-weight: 100;
    text-align: center;
}
th {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}
th, td {
    padding: 15px;
}